# <font size = 70 color = yellow> Introduzindo :
#<font color = gray>
 1. Importando as bibliotecas Pandas e Numpy para utiliza√ß√£o de suas fun√ß√µes e m√©todos.
 2. Cria√ß√£o do DataFrame com a leitura do Csv com o m√©todo do pandas em uma leitura do link [Acesso do Csv](http://www.leg.ufpr.br/~fernandomayer/data/milsa.csv) .

<font size =2 color = pink> Usarei .head() em DataFrames que ficarem longos para que haja uma melhor visualiza√ß√£o.                   
  Para melhor se situar nesse notebook,se estiver no google colab, siga os √çndices que forneci na aba de √≠ndices √† esquerda dessa plataforma.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
funcionarios = pd.read_csv('http://www.leg.ufpr.br/~fernandomayer/data/milsa.csv')
funcionarios.head()

   Funcionario Est.civil     Inst  Filhos  Salario  Anos  Meses    Regiao
0            1  solteiro  1o Grau     NaN     4.00    26      3  interior
1            2    casado  1o Grau     1.0     4.56    32     10   capital
2            3    casado  1o Grau     2.0     5.25    36      5   capital
3            4  solteiro  2o Grau     NaN     5.73    20     10     outro
4            5  solteiro  1o Grau     NaN     6.26    40      7     outro

![Queries](https://i.ibb.co/WG01Mmz/image.png)

#<Font size= 70 color = yellow> Primeira an√°lise:
#<font size= 5 color = white>
 üß† Coloque a coluna Funcion√°rio como √≠ndice.
> Atualizando a vari√°vel funcion√°rios com a nova tabela sendo a coluna "Funcionario" o √≠ndice, isso foi feito com uma fun√ß√£o do pandas chamada "set_index" que nada mais nada menos transforma a coluna escolhida como √≠ndice da tabela. Essa fun√ß√£o tamb√©m consegue fazer multi-indexa√ß√£o ou indexa√ß√£o hier√°rquica somente passando o nome das colunas da tabela escolhida.

In [ ]:
funcionarios = funcionarios.set_index('Funcionario')
funcionarios.head()

            Est.civil     Inst  Filhos  Salario  Anos  Meses    Regiao
Funcionario
1            solteiro  1o Grau     NaN     4.00    26      3  interior
2              casado  1o Grau     1.0     4.56    32     10   capital
3              casado  1o Grau     2.0     5.25    36      5   capital
4            solteiro  2o Grau     NaN     5.73    20     10     outro
5            solteiro  1o Grau     NaN     6.26    40      7     outro

#<Font size= 70 color = yellow> Segunda an√°lise:


üß† Sabendo que a coluna meses n√£o √© necess√°ria para a an√°lise e deve ser retirada, qual a m√©dia de idade
dos funcion√°rios?perSabendo que a coluna meses n√£o √© necess√°ria para a an√°lise e deve ser retirada, qual a m√©dia de idade
dos funcion√°rios?
> Para essa tarefa foi necess√°rio usar o m√©todo "drop" do pandas passando como atributo a coluna que devem vir a ser excluida.

In [ ]:
funcionarios = funcionarios.drop(columns= 'Meses')
funcionarios.head()

            Est.civil     Inst  Filhos  Salario  Anos    Regiao
Funcionario
1            solteiro  1o Grau     NaN     4.00    26  interior
2              casado  1o Grau     1.0     4.56    32   capital
3              casado  1o Grau     2.0     5.25    36   capital
4            solteiro  2o Grau     NaN     5.73    20     outro
5            solteiro  1o Grau     NaN     6.26    40     outro

#<Font size= 70 color = yellow> Terceira an√°lise:

üß† Dos funcion√°rios que t√™m filhos, qual o n√∫mero mais comum?
> Para essa tarefa foi necess√°rio usar o m√©todo "query" do pandas para que retornasse uma tabela onde s√≥ aparecem os funcion√°rios que possuem um valor de filhos maior que 0 e assim poderemos aplicar a fun√ß√£o "mode" do pandas para que seja obtida a moda da quatidade de filhos dos funcion√°rios.

In [ ]:
pd.DataFrame({'Moda Filhos':[funcionarios.query('Filhos >0')['Filhos'].mode().loc[0]]},index= ['Valor'])

       Moda Filhos
Valor          2.0

#<Font size= 70 color = yellow> Quarta an√°lise:

üß† Qual a m√©dia e a mediana dos sal√°rios dos funcion√°rios?
> Nessa atividade foi usada a fun√ß√£o de m√©dia e mediana do Pandas "mean" e "median" respectivamente e depois foram atribuidos esse valores √† um dicion√°rio para que possa ser criado um dataframe com coluna e √≠ndices s√≥ para que fique mais bonitinho e vis√≠vel.

O que esses valores podem indicar?

> Podemos analisar que os valores de m√©dia e mediana s√£o bem pr√≥ximos, logo, indica que n√£o existem valores discrepantes (outliers) na coluna "Salario" o que significa que os valores est√£o assimetricos em sua distribui√ß√£o.

In [ ]:
medMean= pd.DataFrame({'Valor':[funcionarios['Salario'].mean().round(),funcionarios['Salario'].median()]},index = ['Media','Mediana'])
medMean

          Valor
Media    11.000
Mediana  10.165

#<Font size= 70 color = yellow> Quinta an√°lise:

üß† Quais s√£o os tipos de instru√ß√£o existentes?
> Ser√° necess√°rio pegar valores √∫nicos da coluna "Inst" e para isso existe o m√©todo do Pandas "Unique()".
Para uma melhor visualiza√ß√£o, vou percorr√™-lo e retornar os valores que est√£o dentro do array.

In [ ]:
instrucoes = funcionarios['Inst'].unique()

for i,j in enumerate(instrucoes,start= 1):

  print(f'{i}: {j}\n' )

1: 1o Grau

2: 2o Grau

3: Superior

#<Font size= 70 color = yellow> Sexta an√°lise:
üß† Qual a m√©dia de sal√°rio e idade das pessoas casadas?
> Feito somente filtrando para que pegue as colunas "Salario" e "Anos" em que os valores da coluna "Est.civil" seja "casado" e assim retorne a m√©dia das duas colunas pedidas arredondando os valores e criando um DataFrame para melhor visualiza√ß√£o dos dados obtidos.

In [ ]:
medias = pd.DataFrame(funcionarios[funcionarios['Est.civil'] == 'casado'][['Salario', 'Anos']].mean().round(2), columns = ['Media'])
medias

         Media
Salario  12.12
Anos     35.15

#<Font size= 70 color = yellow> S√©tima an√°lise:

üß† Qual o funcion√°rio que possui maior sal√°rio (informe seus atributos)?
> Aqui foi utilizado o m√©todo "loc" para localizar a linha com todos os atributos do funcion√°rio que ser√° retornado com a fun√ß√£o "idxmax" para que a occorrencia m√°xima da coluna passada apare√ßa e assim caia no "loc"

In [ ]:
maiorSalario = funcionarios.loc[[funcionarios['Salario'].idxmax()]]
maiorSalario

            Est.civil      Inst  Filhos  Salario  Anos    Regiao
Funcionario
36             casado  Superior     3.0     23.3    42  interior

#<Font size= 70 color = yellow> Oitava an√°lise:
üß† Qual o funcion√°rio que possui menor idade (informe seus atributos)?
> Na an√°lise anterior utilizamos o "idxmax" e agora foi a vez do "idxmin" para que retorne a primeira ocorr√™ncia do valor m√≠nimo na coluna passada e assim retorne todos os atributos atravez do "loc".

In [ ]:
menorIdade = funcionarios.loc[[funcionarios['Anos'].idxmin()]]
menorIdade

            Est.civil     Inst  Filhos  Salario  Anos Regiao
Funcionario
4            solteiro  2o Grau     NaN     5.73    20  outro

#<Font size= 70 color = yellow> Nona an√°lise:
üß† Quem s√£o os funcion√°rios que possuem no m√°ximo 35 anos, s√£o da capital e tem instru√ß√£o de 2o grau?
> Utiliza√ß√£o de Multi Queries para que consiga pegar query por query as informa√ß√µes corretas para filtragem.

In [ ]:
filtragem = funcionarios.query('Anos <=35').query('Regiao =="capital"').query('Inst == "2o Grau"')
filtragem

            Est.civil     Inst  Filhos  Salario  Anos   Regiao
Funcionario
9              casado  2o Grau     1.0     7.59    34  capital
17             casado  2o Grau     1.0     9.77    31  capital
22           solteiro  2o Grau     NaN    11.59    34  capital
30             casado  2o Grau     2.0    15.99    35  capital

#<Font size= 70 color = yellow> D√©cima an√°lise:
üß† Fa√ßa uma correla√ß√£o entre todos os atributos. (Dica: mapeie os atributos qualitativos para atributos
quantitativos. Ex: solteiro: 1, casado: 2, etc)
<font color = white>
1. Cria√ß√£o de fun√ß√µes lambda para percorrer as linhas;

2. implementa√ß√£o do "map" na coluna desejada passando como par√¢metro a fun√ß√£o lambda feita para aquela coluna;

3. Utiliza√ß√£o da fun√ß√£o "corr()" para obter a correla√ß√£o ta tabela.

In [ ]:
# 1
lambEstCivil = lambda x: 1 if x == 'solteiro' else 2

lambInst = lambda x: 1 if x == '1o Grau' else 2 if x == '2o Grau' else 3

lambRegiao = lambda x: 1 if x == 'interior' else 2 if x == 'capital' else 3

In [ ]:
# 2
funcionarios['Est.civil']= funcionarios['Est.civil'].map(lambEstCvil)
funcionarios['Inst']= funcionarios['Inst'].map(lambInst)
funcionarios['Regiao'] =funcionarios['Regiao'].map(lambRegiao)

In [ ]:
# 3
funcionarios.corr()

           Filhos   Salario      Anos     Meses
Filhos   1.000000  0.358065  0.746539  0.015119
Salario  0.358065  1.000000  0.363362  0.000722
Anos     0.746539  0.363362  1.000000 -0.137757
Meses    0.015119  0.000722 -0.137757  1.000000

#<Font size= 70 color = yellow> An√°lises propostas por mim:
Partindo do princ√≠pio que a empresa est√° preocupada com a Educa√ß√£o de seus funcion√°rios, farei algumas an√°lises.

In [ ]:
funcionarios = pd.read_csv('http://www.leg.ufpr.br/~fernandomayer/data/milsa.csv').set_index('Funcionario').drop(columns= 'Meses')

## <font size = 5 color = yellow > 1 - <font size = 4 color = gray>Pesquisas apontam que diferen√ßa do sal√°rio de quem tem ensino m√©dio para os formados no ensino superior chega a ser mais que o dobro, de acordo com os n√∫meros levantados pelo Valor Econ√¥mico. As pessoas que t√™m gradua√ß√£o no curr√≠culo chegam a ganhar cerca de 4,7 mil por m√™s, enquanto quem n√£o tem ganha em torno de 1,8 mil, logo, eu quis verificar se isso em nossa empresa √© uma realidade e obtive os seeguintes resultados:

In [ ]:
pd.DataFrame(funcionarios['Salario'].groupby(funcionarios['Inst']).mean())

            Salario
Inst
1o Grau    7.836667
2o Grau   11.528333
Superior  16.475000

## <font size = 5 color = yellow > 2 - <font size = 4 color = gray>A empresa est√° querendo dar uma ajuda de custo √† Educa√ß√£o a seus funcion√°rios que n√£o completaram os n√≠veis de ensino escolares e possuem renda abaixo da m√©dia da empresa.
> Para isso √© neces√°rio saber quantos funcion√°rios possuem somente o 1o grau de instru√ß√£o e saber a m√©dia salarial da empresa para obter os seguintes resultados:

In [ ]:
mediaSalario = funcionarios['Salario'].mean()
funcionarios.query('Inst == "1o Grau"').loc[funcionarios['Salario']< funcionarios['Salario'].mean()]

            Est.civil     Inst  Filhos  Salario  Anos    Regiao
Funcionario
1            solteiro  1o Grau     NaN     4.00    26  interior
2              casado  1o Grau     1.0     4.56    32   capital
3              casado  1o Grau     2.0     5.25    36   capital
5            solteiro  1o Grau     NaN     6.26    40     outro
6              casado  1o Grau     0.0     6.66    28  interior
7            solteiro  1o Grau     NaN     6.86    41  interior
8            solteiro  1o Grau     NaN     7.39    43   capital
12           solteiro  1o Grau     NaN     8.46    27   capital
14             casado  1o Grau     3.0     8.95    44     outro
18             casado  1o Grau     2.0     9.80    39     outro

## <font size = 5 color = yellow > 3 - <font size = 4 color = gray>A empresa d√° um vale transporte com um valor de acordo com a dist√¢ncia em que mora da empresa, sabendo que a empresa fica no centro, quem mora no interior receber√° um valor maior. A empresa quer saber quais funcion√°rios moram no interior para calcular quantos vales dar√° no maior valor.

In [ ]:
funcionarios.query('Regiao == "interior"')

            Est.civil      Inst  Filhos  Salario  Anos    Regiao
Funcionario
1            solteiro   1o Grau     NaN     4.00    26  interior
6              casado   1o Grau     0.0     6.66    28  interior
7            solteiro   1o Grau     NaN     6.86    41  interior
11             casado   2o Grau     2.0     8.12    33  interior
15             casado   2o Grau     0.0     9.13    30  interior
19           solteiro  Superior     NaN    10.53    25  interior
20           solteiro   2o Grau     NaN    10.76    37  interior
25             casado   2o Grau     2.0    13.23    32  interior
28             casado   2o Grau     0.0    14.69    29  interior
29             casado   2o Grau     5.0    14.71    40  interior
32             casado   2o Grau     1.0    16.61    36  interior
36             casado  Superior     3.0    23.30    42  interior